@charset "utf-8";
/*
* object/component/_form.scss
*/
.c-form{
  margin: 0 auto;
  padding: $space_xxl 80px;
  max-width: 700px;
  width: 100%;
  text-align: center;
  @include mq(){
    padding: $space_xl;
    max-width: 300px;
  }
  &__title{
    font-size: $font-size_l;
    @include mq(){
      font-size: $font-size_m;
    }
  }
  &__item{
    text-align: left;
    &__name{
      font-weight: 700;
      color: $font-color_sub3;
      & span{
        font-size: $font-size_s;
        font-weight: 400;
      }
    }
    &__input{
      margin-top: $space_s;
      padding: $space_l;
      width: calc(100% - #{$space_l} * 2);
      height: 15px;
      border: none;
      font-family: $font-family_main;
      font-size: $font-size_m;
      letter-spacing: .05em;
      &::placeholder{
        font-size: $font-size_s;
      }
      @include mq(){
        height: 10px;
        letter-spacing: 0;
      }
    }
    &__price{
      @extend .c-form__item__input;
      margin-right: $space_m;
      width: 40%;
    }
    &__text{
      padding: $space_m;
      width: calc(100% - #{$space_m} * 2);
      border: none;
      font-family: $font-family_main;
      font-size: $font-size_m;
      &::placeholder{
        font-family: $font-family_main;
        font-size: $font-size_s;
      }
    }
    &__select{
      padding: $space_m;
      width: 65%;
      border: none;
      background-color: $color_bg2;
      font-family: $font-family_main;
      font-size: $font-size_m;
    }
    &__counter{
      text-align: right;
      color: $font-color_sub3;
    }
    &--alert{
      display: block;
      font-size: $font-size_s;
      text-align: left;
      color: $font-color_alert;
      @include mq(){
        font-size: $font-size_xs;
      }
    }
  }
  &__save{
    display: block;
    text-align: left;
    font-size: $font-size_m;
    @include mq(){
      font-size: $font-size_s;
    }
    &__box{
      width: 20px;
      height: 20px;
      vertical-align: middle;
      @include mq(){
        width: 15px;
        height: 15px;
      }
    }
    &__text{
      vertical-align: middle;
      color: $font-color_sub3;
    }
  }
  &__remind{
    font-size: $font-size_s;
    &__link{
      display: inline-block;
      text-decoration: underline;
      transition: all .3s;
    }
  }
  &__file{
    font-family: $font-family_main;
  }
} 