@charset "utf-8";
/*
* object/utility/_bg.scss
*/
.u-bg__main{
  background-color: $color_bg1;
}
.u-bg__header{
  background-color: rgba(78, 79, 80, 0.8);
}
.u-bg__post{
  padding: $space_m;
  background-color: $color_bg2;
}