@charset "UTF-8";

/*
* style.css
*/

/*
 * foundation/_reset.css
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
* foundation/_base.scss
*/

html,
body {
  width: 100%;
  color: #3B4043;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 896px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 12px;
  }
}

p,
a {
  -webkit-font-smoothing: antialiased;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  transition: 0.3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

textarea {
  resize: none;
}

textarea.is-invalid {
  border: solid 1px #DD1B1B;
}

input {
  outline: 0;
}

input.is-invalid {
  border: solid 1px #DD1B1B;
}

select {
  outline: 0;
}

br {
  display: none;
}

@media screen and (max-width: 480px) {
  br {
    display: block;
  }
}

/*
* layout/_container.scss
*/

.l-container {
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  text-align: center;
}

@media screen and (max-width: 896px) {
  .l-container {
    width: 100%;
    padding: 0 40px;
  }
}

@media screen and (max-width: 480px) {
  .l-container {
    padding: 0 20px;
  }
}

.l-container__fluid {
  width: 100%;
}

/*
* layout/_header.scss
*/

.l-header {
  position: fixed;
  top: 0;
  height: 70px;
  line-height: 70px;
  transition: 0.3s;
  z-index: 3;
}

.l-header.float-active {
  background-color: rgba(78, 79, 80, 0.8);
}

.l-header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

@media screen and (max-width: 896px) {
  .l-header__body {
    padding: 0 20px;
  }

  .l-header__body a {
    color: inherit;
  }
}

.l-header__title {
  font-size: 24px;
  font-weight: 700;
  color: #FAD249;
}

@media screen and (max-width: 480px) {
  .l-header__title {
    font-size: 14px;
  }
}

/*
* layout/_footer.scss
*/

.l-footer {
  width: 100%;
  background-color: #525354;
}

@media screen and (max-width: 896px) {
  .l-footer {
    padding: 10px 0;
  }
}

.l-footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-size: 14px;
}

@media screen and (max-width: 896px) {
  .l-footer__body {
    font-size: 12px;
  }
}

@media screen and (max-width: 896px) {
  .l-footer__body {
    display: block;
    height: auto;
  }
}

.l-footer__copyright {
  color: #FAD249;
}

@media screen and (max-width: 896px) {
  .l-footer__copyright {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 896px) {
  .l-footer__sns {
    padding-bottom: 10px;
  }
}

.l-footer__icon {
  display: inline;
}

.l-footer .fab {
  padding-right: 20px;
  font-size: 20px;
  color: #FFFFFF;
  transition: transform 0.3s;
}

.l-footer .fab:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

.l-footer__contact {
  display: flex;
  text-align: left;
  color: #FFFFFF;
}

@media screen and (max-width: 896px) {
  .l-footer__contact {
    justify-content: center;
  }
}

.l-footer__contact__lead {
  margin-right: 15px;
}

/*
* layout/_sidebar.scss
*/

.l-sidebar,
.l-sidebar--reverse {
  display: flex;
  margin-top: 150px;
  justify-content: center;
}

@media screen and (max-width: 896px) {
  .l-sidebar,
  .l-sidebar--reverse {
    margin-top: 100px;
  }
}

@media screen and (max-width: 480px) {
  .l-sidebar,
  .l-sidebar--reverse {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .l-sidebar--reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

.l-sidebar__mymenu {
  margin-right: 40px;
  flex-basis: 200px;
}

@media screen and (max-width: 480px) {
  .l-sidebar__mymenu {
    margin: 0 auto;
    width: 80%;
  }
}

.l-sidebar__mypage {
  flex-basis: 740px;
}

.l-sidebar__detail {
  margin-right: 40px;
  flex-basis: 600px;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .l-sidebar__detail {
    margin-right: 0;
  }
}

.l-sidebar__sub {
  flex-basis: 300px;
}

/*
* layout/_auth.scss
*/

.l-auth {
  margin: 150px auto 100px;
  padding: 30px 80px;
  max-width: 500px;
  width: 100%;
  background-color: #FFFFFF;
  border: solid 1px #707070;
  border-radius: 10px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .l-auth {
    margin: 100px auto 50px;
    padding: 20px;
    max-width: 300px;
  }
}

/*
* object/component/_section.scss
*/

.c-section__title {
  font-size: 36px;
  font-weight: 700;
}

@media screen and (max-width: 896px) {
  .c-section__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .c-section__title {
    font-size: 20px;
  }
}

.c-section__sub-title {
  color: #707F89;
}

@media screen and (max-width: 480px) {
  .c-section__sub-title {
    font-size: 12px;
  }
}

/*
* object/component/_concept.scss
*/

.c-concept {
  padding: 30px 0;
  background-color: #F2F2F2;
}

.c-concept__info {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .c-concept__info {
    display: block;
  }
}

.c-concept__item {
  flex-basis: 300px;
}

@media screen and (max-width: 896px) {
  .c-concept__item {
    flex-basis: 200px;
  }
}

.c-concept__heading {
  font-size: 24px;
}

@media screen and (max-width: 896px) {
  .c-concept__heading {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .c-concept__heading {
    font-size: 16px;
  }
}

.c-concept__icon {
  margin: 0 auto;
  max-width: 130px;
}

@media screen and (max-width: 896px) {
  .c-concept__icon {
    max-width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .c-concept__body {
    margin: 0 auto 30px;
    width: 80%;
  }
}

.c-concept__text {
  text-align: left;
  font-size: 12px;
  line-height: 2;
}

@media screen and (max-width: 896px) {
  .c-concept__text {
    font-size: 10px;
  }
}

/*
* object/component/_form.scss
*/

.c-form {
  margin: 0 auto;
  padding: 30px 80px;
  max-width: 700px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .c-form {
    padding: 20px;
    max-width: 300px;
  }
}

.c-form__title {
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .c-form__title {
    font-size: 14px;
  }
}

.c-form__item {
  text-align: left;
}

.c-form__item__name {
  font-weight: 700;
  color: #707F89;
}

.c-form__item__name span {
  font-size: 12px;
  font-weight: 400;
}

.c-form__item__input,
.c-form__item__price {
  margin-top: 5px;
  padding: 15px;
  width: calc(100% - 15px * 2);
  height: 15px;
  border: none;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.c-form__item__input::-moz-placeholder, .c-form__item__price::-moz-placeholder {
  font-size: 12px;
}

.c-form__item__input:-ms-input-placeholder, .c-form__item__price:-ms-input-placeholder {
  font-size: 12px;
}

.c-form__item__input::-ms-input-placeholder, .c-form__item__price::-ms-input-placeholder {
  font-size: 12px;
}

.c-form__item__input::placeholder,
.c-form__item__price::placeholder {
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  .c-form__item__input,
  .c-form__item__price {
    height: 10px;
    letter-spacing: 0;
  }
}

.c-form__item__price {
  margin-right: 10px;
  width: 40%;
}

.c-form__item__text {
  padding: 10px;
  width: calc(100% - 10px * 2);
  border: none;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  font-size: 14px;
}

.c-form__item__text::-moz-placeholder {
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  font-size: 12px;
}

.c-form__item__text:-ms-input-placeholder {
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  font-size: 12px;
}

.c-form__item__text::-ms-input-placeholder {
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  font-size: 12px;
}

.c-form__item__text::placeholder {
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  font-size: 12px;
}

.c-form__item__select {
  padding: 10px;
  width: 65%;
  border: none;
  background-color: #FFFFFF;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  font-size: 14px;
}

.c-form__item--alert {
  display: block;
  font-size: 12px;
  color: #DD1B1B;
}

@media screen and (max-width: 480px) {
  .c-form__item--alert {
    font-size: 10px;
  }
}

.c-form__save {
  display: block;
  text-align: left;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .c-form__save {
    font-size: 12px;
  }
}

.c-form__save__box {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

@media screen and (max-width: 480px) {
  .c-form__save__box {
    width: 15px;
    height: 15px;
  }
}

.c-form__save__text {
  vertical-align: middle;
  color: #707F89;
}

.c-form__remind {
  font-size: 12px;
}

.c-form__remind__link {
  display: inline-block;
  text-decoration: underline;
  transition: all 0.3s;
}

.c-form__file {
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}

/*
* object/component/_btn.scss
*/

.c-btn__main,
.c-btn__main--blue2,
.c-btn__main--blue,
.c-btn__main--gray2,
.c-btn__main--gray1,
.c-btn__main--red {
  display: block;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.3s;
  cursor: pointer;
}

.c-btn__main:hover,
.c-btn__main--blue2:hover,
.c-btn__main--blue:hover,
.c-btn__main--gray2:hover,
.c-btn__main--gray1:hover,
.c-btn__main--red:hover {
  opacity: 0.7;
}

@media screen and (max-width: 896px) {
  .c-btn__main,
  .c-btn__main--blue2,
  .c-btn__main--blue,
  .c-btn__main--gray2,
  .c-btn__main--gray1,
  .c-btn__main--red {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .c-btn__main,
  .c-btn__main--blue2,
  .c-btn__main--blue,
  .c-btn__main--gray2,
  .c-btn__main--gray1,
  .c-btn__main--red {
    font-size: 10px;
  }
}

.c-btn__main--gray1,
.c-btn__main--red {
  margin: 0 auto;
  padding: 10px 40px;
  background-color: #525354;
}

.c-btn__main--gray2 {
  margin: 0 10px 0 0;
  padding: 10px 20px;
  width: 150px;
  background-color: #525354;
}

@media screen and (max-width: 480px) {
  .c-btn__main--gray2 {
    width: 130px;
  }
}

.c-btn__main--gray2.is-notlike {
  background-color: #29A8E1;
  font-size: 0;
  transition: none;
}

.c-btn__main--gray2.is-notlike:before {
  background-color: #29A8E1;
  font-size: 14px;
  content: "\304A\6C17\306B\5165\308A\8FFD\52A0";
}

@media screen and (max-width: 896px) {
  .c-btn__main--gray2.is-notlike:before {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .c-btn__main--gray2.is-notlike:before {
    font-size: 10px;
  }
}

.c-btn__main--blue {
  margin: 0;
  padding: 10px 20px;
  width: 150px;
  background-color: #29A8E1;
}

@media screen and (max-width: 480px) {
  .c-btn__main--blue {
    width: 130px;
  }
}

.c-btn__main--blue2 {
  margin: 0;
  padding: 8px 15px;
  width: 150px;
  border: solid 2px #29A8E1;
  background-color: inherit;
  color: #29A8E1;
  cursor: default;
}

.c-btn__main--blue2:hover {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .c-btn__main--blue2 {
    width: 130px;
  }
}

.c-btn__main--red {
  background-color: #DD1B1B;
}

.c-btn__sub,
.c-btn__sub--mypage,
.c-btn__sub--top {
  border: solid 2px #FAD249;
  border-radius: 24px;
  transition: all 0.3s;
}

.c-btn__sub:hover,
.c-btn__sub--mypage:hover,
.c-btn__sub--top:hover {
  background-color: #FAD249;
  color: #3B4043;
}

.c-btn__sub--top {
  padding: 12px 18px;
}

@media screen and (max-width: 896px) {
  .c-btn__sub--top {
    padding: 10px 12px;
  }
}

.c-btn__sub--mypage {
  padding: 10px 18px;
  color: #FAD249;
}

.c-btn__sub--mypage:hover {
  color: #F2F2F2;
}

@media screen and (max-width: 896px) {
  .c-btn__sub--mypage {
    padding: 8px 12px;
  }
}

@media screen and (max-width: 480px) {
  .c-btn__sub--mypage {
    padding: 6px 10px;
  }
}

/*
* object/component/_desc.scss
*/

.c-desc {
  text-align: left;
}

.c-desc__title {
  font-weight: 700;
}

@media screen and (max-width: 896px) {
  .c-desc__title {
    font-size: 12px;
    word-wrap: break-word;
  }
}

.c-desc__info {
  display: flex;
  align-items: center;
}

.c-desc__star {
  margin-right: 5px;
  width: 20px;
  height: auto;
}

.c-desc__point {
  margin-right: 10px;
  font-size: 14px;
}

@media screen and (max-width: 896px) {
  .c-desc__point {
    font-size: 10px;
  }
}

.c-desc__price {
  color: #DD1B1B;
}

.c-desc__text {
  font-size: 12px;
  word-break: break-word;
}

@media screen and (max-width: 896px) {
  .c-desc__text {
    font-size: 10px;
  }
}

/*
* object/component/_alert.scss
*/

.c-alert__sendMail {
  font-size: 12px;
  color: #29A8E1;
}

@media screen and (max-width: 896px) {
  .c-alert__sendMail {
    font-size: 10px;
  }
}

.c-alert__register,
.c-alert__register--error,
.c-alert__register--success {
  position: fixed;
  top: 70px;
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.c-alert__register--success {
  background-color: #29A8E1;
}

.c-alert__register--error {
  background-color: #FFFFFF;
  color: #DD1B1B;
}

/*
* object/component/_pagination.scss
*/

.c-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-pagination__page-item a,
.c-pagination__prev a,
.c-pagination__next a {
  padding: 5px 10px;
}

.c-pagination__page-item a:hover,
.c-pagination__prev a:hover,
.c-pagination__next a:hover {
  background-color: #FFFFFF;
}

.c-pagination__page-item a:focus,
.c-pagination__prev a:focus,
.c-pagination__next a:focus {
  outline: 0;
}

.c-pagination__page-item.active a,
.c-pagination__prev.active a,
.c-pagination__next.active a {
  background-color: #525354;
  color: #FFFFFF;
}

.c-pagination__page-item span,
.c-pagination__prev span,
.c-pagination__next span {
  padding: 5px 10px;
}

/*
* object/component/_fixed-sidebar.scss
*/

.c-fixed,
.c-fixed__show,
.c-fixed__mypage {
  position: -webkit-sticky;
  position: sticky;
}

.c-fixed__mypage {
  top: 150px;
}

@media screen and (max-width: 896px) {
  .c-fixed__mypage {
    top: 100px;
  }
}

.c-fixed__show {
  top: 80px;
}

/*
* object/project/_menu.scss
*/

@media screen and (max-width: 896px) {
  .p-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    background: rgba(78, 79, 80, 0.85);
    transition: 0.5s;
    text-align: center;
  }

  .p-menu.active {
    transform: translateX(-100%);
    z-index: 4;
  }
}

.p-menu__list {
  display: flex;
  font-weight: 700;
  color: #FFFFFF;
}

@media screen and (max-width: 896px) {
  .p-menu__list {
    display: block;
    font-size: 20px;
  }
}

.p-menu__item {
  margin-right: 40px;
}

.p-menu__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 896px) {
  .p-menu__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.p-menu__link:hover {
  transform: scale(1.1);
}

.p-menu__trigger {
  display: none;
  position: relative;
  margin-top: 20px;
  width: 40px;
  height: 32px;
  cursor: pointer;
  transition: all 0.4s;
  z-index: 5;
}

@media screen and (max-width: 896px) {
  .p-menu__trigger {
    display: inline-block;
  }
}

.p-menu__trigger span {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 4px;
  transition: all 0.3s;
}

.p-menu__trigger span:nth-last-of-type(1) {
  top: 0;
}

.p-menu__trigger span:nth-last-of-type(2) {
  top: 14px;
}

.p-menu__trigger span:nth-last-of-type(3) {
  bottom: 0;
}

.p-menu__trigger.active span:nth-last-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}

.p-menu__trigger.active span:nth-last-of-type(2) {
  opacity: 0;
}

.p-menu__trigger.active span:nth-last-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

/*
* object/project/_hero.scss
*/

.p-hero {
  height: 500px;
  text-align: left;
}

@media screen and (max-width: 896px) {
  .p-hero {
    height: 350px;
  }
}

.p-hero::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 500px;
  background-image: url(/images/top-bg.jpg?0a6eadcf032157305f93c65bfa69bfb2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

@media screen and (max-width: 896px) {
  .p-hero::before {
    height: 350px;
  }
}

.p-hero__content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.p-hero__msg {
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}

@media screen and (max-width: 896px) {
  .p-hero__msg {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .p-hero__msg {
    font-size: 24px;
  }
}

.p-hero__list {
  display: flex;
  color: #FAD249;
}

.p-hero__item {
  margin-right: 30px;
}

@media screen and (max-width: 480px) {
  .p-hero__item {
    margin-right: 15px;
  }
}

.p-hero__intro {
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 896px) {
  .p-hero__intro {
    font-size: 10px;
  }
}

/*
* object/project/_review.scss
*/

.p-review {
  padding: 30px 0;
  background-color: #FFFFFF;
}

.p-review__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-review__icon {
  margin-right: 20px;
  max-width: 80px;
  width: 100%;
  max-height: 80px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-review__body {
  text-align: left;
  flex-basis: 650px;
}

@media screen and (max-width: 896px) {
  .p-review__body {
    flex-basis: 500px;
  }
}

.p-review__text {
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 896px) {
  .p-review__text {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .p-review__text {
    font-size: 10px;
  }
}

.p-review__name {
  font-size: 12px;
}

@media screen and (max-width: 896px) {
  .p-review__name {
    font-size: 10px;
  }
}

/*
* object/project/_mymenu.scss
*/

.p-mymenu__img {
  margin: 0 auto;
  max-width: 140px;
  width: 100%;
  max-height: 140px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-mymenu__name {
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 896px) {
  .p-mymenu__name {
    font-size: 14px;
  }
}

.p-mymenu__prof {
  color: #FAD249;
  font-weight: 700;
}

.p-mymenu__prof:hover {
  color: #707F89;
}

.p-mymenu__body {
  text-align: left;
}

@media screen and (max-width: 896px) {
  .p-mymenu__body {
    font-size: 10px;
  }
}

.p-mymenu__body__heading {
  font-size: 14px;
  border-bottom: solid 1px #707070;
}

@media screen and (max-width: 896px) {
  .p-mymenu__body__heading {
    font-size: 12px;
  }
}

.p-mymenu__body__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-mymenu__body__link:hover {
  color: #707F89;
}

.p-mymenu__body__arrow {
  width: 10px;
  height: auto;
}

.p-mymenu__back {
  text-align: left;
}

.p-mymenu__back:hover {
  color: #707F89;
}

@media screen and (max-width: 480px) {
  .p-mymenu__back {
    text-align: center;
  }
}

/*
* object/project/_mypage.scss
*/

.p-mypage__title {
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 896px) {
  .p-mypage__title {
    font-size: 20px;
  }
}

.p-mypage__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px #707070;
}

.p-mypage__heading__text {
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 896px) {
  .p-mypage__heading__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .p-mypage__heading__text {
    font-size: 12px;
    text-align: left;
  }
}

.p-mypage__heading__select {
  padding: 10px;
  width: 150px;
  border: none;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}

.p-mypage__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #707070;
}

@media screen and (max-width: 480px) {
  .p-mypage__item {
    display: block;
  }
}

.p-mypage__sub {
  flex-basis: 120px;
  font-size: 12px;
}

@media screen and (max-width: 896px) {
  .p-mypage__sub {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .p-mypage__sub {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .p-mypage__sub__date {
    padding-right: 5px;
  }
}

@media screen and (max-width: 480px) {
  .p-mypage__sub__cat {
    padding-left: 5px;
  }
}

.p-mypage__desc {
  flex-basis: 620px;
}

.p-mypage__desc__post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-mypage__desc__post .c-desc__price {
  margin-left: 10px;
  font-size: 12px;
}

@media screen and (max-width: 896px) {
  .p-mypage__desc__post .c-desc__price {
    flex-basis: 120px;
    text-align: right;
    font-size: 10px;
  }
}

.p-mypage__link {
  display: flex;
}

/*
* object/project/_sort.scss
*/

.p-sort {
  margin: 100px 0 100px;
  padding: 10px 30px;
  background-color: #FFFFFF;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .p-sort {
    margin: 80px 0 50px;
  }
}

.p-sort__title {
  font-weight: 700;
}

.p-sort__body {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 896px) {
  .p-sort__body {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .p-sort__body {
    display: block;
  }
}

.p-sort__item {
  width: 18%;
}

@media screen and (max-width: 896px) {
  .p-sort__item {
    width: 42%;
  }
}

@media screen and (max-width: 480px) {
  .p-sort__item {
    margin-bottom: 5px;
    width: 80%;
  }
}

.p-sort__item__title {
  font-size: 14px;
  font-weight: 700;
  color: #707F89;
}

@media screen and (max-width: 480px) {
  .p-sort__item__title {
    font-size: 12px;
  }
}

.p-sort__item__select {
  padding: 5px 10px;
  width: 100%;
  font-size: 10px;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}

.p-sort__item__select ::-moz-placeholder {
  color: #3B4043;
}

.p-sort__item__select :-ms-input-placeholder {
  color: #3B4043;
}

.p-sort__item__select ::-ms-input-placeholder {
  color: #3B4043;
}

.p-sort__item__select ::placeholder {
  color: #3B4043;
}

.p-sort__price {
  width: 35%;
}

@media screen and (max-width: 896px) {
  .p-sort__price {
    width: 42%;
  }
}

@media screen and (max-width: 480px) {
  .p-sort__price {
    width: 80%;
  }
}

.p-sort__price__number {
  padding: 5px 10px;
  width: 20%;
  font-size: 10px;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}

@media screen and (max-width: 896px) {
  .p-sort__price__number {
    width: 25%;
  }
}

@media screen and (max-width: 480px) {
  .p-sort__price__number {
    margin-bottom: 5px;
    width: 40%;
  }
}

.p-sort__price span {
  font-size: 12px;
}

@media screen and (max-width: 896px) {
  .p-sort__price span {
    font-size: 10px;
  }
}

/*
* object/project/_index.scss
*/

.p-index {
  text-align: center;
}

.p-index__title {
  font-size: 20px;
  font-weight: 700;
}

.p-index__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #707070;
}

.p-index__item:hover {
  opacity: 0.7;
}

@media screen and (max-width: 480px) {
  .p-index__item {
    display: block;
  }
}

.p-index__icon {
  flex-basis: 130px;
}

@media screen and (max-width: 480px) {
  .p-index__icon {
    display: none;
  }
}

.p-index__icon__img {
  margin: 0 auto;
  max-width: 65px;
  width: 100%;
  font-size: 10px;
}

.p-index__icon__name {
  font-size: 12px;
}

@media screen and (max-width: 896px) {
  .p-index__icon__name {
    font-size: 10px;
  }
}

.p-index__sub {
  flex-basis: 130px;
  font-size: 12px;
}

@media screen and (max-width: 896px) {
  .p-index__sub {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .p-index__sub {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .p-index__sub__date {
    padding-right: 5px;
  }
}

@media screen and (max-width: 480px) {
  .p-index__sub__cat {
    padding-left: 5px;
  }
}

.p-index__desc {
  flex-basis: 720px;
}

/*
* object/project/_detail.scss
*/

.p-detail__title {
  font-size: 24px;
  font-weight: 700;
  word-break: break-word;
}

@media screen and (max-width: 896px) {
  .p-detail__title {
    font-size: 16px;
  }
}

.p-detail__note {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 896px) {
  .p-detail__note {
    display: block;
  }
}

.p-detail__note__info {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 896px) {
  .p-detail__note__info {
    padding-bottom: 10px;
  }
}

.p-detail__note__star {
  margin-right: 5px;
  width: 20px;
  height: auto;
}

.p-detail__note__text {
  padding-right: 15px;
}

.p-detail__btn {
  display: flex;
  align-items: center;
}

.p-detail__btn--img {
  margin-right: 5px;
}

.p-detail__btn--img .fas {
  color: #DD1B1B;
}

.p-detail__btn--like,
.p-detail__btn--tweet {
  display: flex;
  margin-left: 10px;
  padding: 5px 10px;
  border: solid 1px #707070;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .p-detail__btn--like,
  .p-detail__btn--tweet {
    font-size: 10px;
  }
}

.p-detail__btn--tweet {
  background-color: #2A9BF5;
  border: none;
  color: #FFFFFF;
}

.p-detail__date {
  text-align: right;
  color: #707F89;
}

.p-detail__tab {
  display: flex;
  justify-content: space-evenly;
}

.p-detail__tab__btn {
  padding: 10px;
  font-weight: 700;
  color: #707F89;
  cursor: pointer;
}

.p-detail__text {
  padding: 20px 30px;
  min-height: 500px;
  background-color: #FFFFFF;
  border-radius: 10px;
  white-space: pre-wrap;
  font-size: 14px;
  word-break: break-word;
}

@media screen and (max-width: 896px) {
  .p-detail__text {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .p-detail__text {
    padding: 20px;
  }
}

.p-detail__review__heading {
  text-align: center;
  font-weight: 700;
}

.p-detail__review__item {
  display: flex;
  justify-content: flex-end;
  border-bottom: solid 1px #707070;
}

.p-detail__review__sub {
  flex-basis: 70px;
  padding-right: 20px;
  text-align: right;
  font-size: 12px;
}

@media screen and (max-width: 896px) {
  .p-detail__review__sub {
    font-size: 10px;
  }
}

.p-detail__review__desc {
  flex-basis: 490px;
}

.p-detail__review__text {
  font-size: 14px;
  white-space: pre-wrap;
  word-break: break-word;
}

@media screen and (max-width: 896px) {
  .p-detail__review__text {
    font-size: 10px;
  }
}

.p-detail__review__info {
  display: flex;
}

.p-detail__review__star {
  margin-right: 5px;
  width: 20px;
  height: auto;
}

.p-detail__review__point {
  margin-right: 10px;
  font-size: 14px;
}

@media screen and (max-width: 896px) {
  .p-detail__review__point {
    font-size: 10px;
  }
}

/*
* object/project/_checkout.scss
*/

.p-checkout__pay {
  padding: 30px 60px;
  border: solid 1px #707070;
  border-radius: 10px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 896px) {
  .p-checkout__pay {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 480px) {
  .p-checkout__pay {
    margin: 0 auto 20px;
    width: 80%;
  }
}

.p-checkout__price {
  font-size: 20px;
  font-weight: 700;
  color: #DD1B1B;
}

@media screen and (max-width: 896px) {
  .p-checkout__price {
    font-size: 16px;
  }
}

.p-checkout__review {
  padding: 20px 20px;
  border: solid 1px #707070;
  border-radius: 10px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 896px) {
  .p-checkout__review {
    padding: 15px 15px;
  }
}

@media screen and (max-width: 480px) {
  .p-checkout__review {
    margin: 0 auto 20px;
  }
}

.p-checkout__review__heading {
  font-weight: 700;
}

.p-checkout__review__point-area {
  display: flex;
  align-items: baseline;
}

.p-checkout__review__point {
  margin-left: 15px;
  padding-left: 10px;
  width: 50px;
  height: 30px;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}

.p-checkout__review__comment-area {
  text-align: left;
}

.p-checkout__review__comment {
  padding: 10px;
  width: 90%;
  border: solid 1px #707070;
  line-height: inherit;
  font-family: "Noto Sans JP", 游ゴシック体, "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF   Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}

/*
* object/utility/_space.scss
*/

.u-pb-0 {
  padding-bottom: 0;
}

.u-pb-s {
  padding-bottom: 5px;
}

.u-pb-m {
  padding-bottom: 10px;
}

.u-pb-l {
  padding-bottom: 15px;
}

.u-pb-xl {
  padding-bottom: 20px;
}

.u-pb-xxl {
  padding-bottom: 30px;
}

.u-pb-3l {
  padding-bottom: 40px;
}

.u-pb-4l {
  padding-bottom: 60px;
}

@media screen and (max-width: 896px) {
  .u-pb-4l {
    padding-bottom: 40px;
  }
}

.u-m-0auto {
  margin: 0 auto;
}

.u-mb-0 {
  margin-bottom: 0;
}

.u-mb-s {
  margin-bottom: 5px;
}

.u-mb-m {
  margin-bottom: 10px;
}

.u-mb-l {
  margin-bottom: 15px;
}

.u-mb-xl {
  margin-bottom: 20px;
}

.u-mb-xxl {
  margin-bottom: 30px;
}

.u-mb-3l {
  margin-bottom: 40px;
}

.u-mb-4l {
  margin-bottom: 60px;
}

.u-mr-m {
  margin-right: 10px;
}

/*
* object/utility/_bg.scss
*/

.u-bg__main {
  background-color: #F2F2F2;
}

.u-bg--sub {
  background-color: #FFFFFF;
}

.u-bg__header {
  background-color: rgba(78, 79, 80, 0.8);
}

.u-bg__post {
  padding: 10px;
  background-color: #FFFFFF;
}

/*
* object/utility/border.scss
*/

.u-border {
  border: solid 1px #707070;
}

.u-border--bottom {
  border-bottom: solid 2px #707070;
}

/*
* object/utility/opacity.scss
*/

.u-opacity:hover {
  opacity: 0.7;
}

