@charset "utf-8";
/*
* layout/_sidebar.scss
*/
.l-sidebar{
  display: flex;
  margin-top: 150px;
  justify-content: center;
  @include mq(md){
    margin-top: 100px;
  }
  &--reverse{
    @include mq(){
      flex-direction: column-reverse;
    }
  }
  &__mymenu{
    margin-right: $space_3l;
    flex-basis: 200px;
    @include mq(){
      margin-right: 0;
    }
  }
  &__mypage{
    flex-basis: 740px;
  }
  &__detail{
    margin-right: $space_3l;
    flex-basis: 600px;
    text-align: left;
    @include mq(){
      margin-right: 0;
    }
  }
  &__sub{
    flex-basis: 300px;
  }
}