@charset "utf-8";
/*
* object/utility/_space.scss
*/
.u-pb-0{
  padding-bottom: 0;
}
.u-pb-s{
  padding-bottom: $space_s;
}
.u-pb-m{
  padding-bottom: $space_m;
}
.u-pb-l{
  padding-bottom: $space_l;
}
.u-pb-xl{
  padding-bottom: $space_xl;
}
.u-pb-xxl{
  padding-bottom: $space_xxl;
}
.u-pb-3l{
  padding-bottom: $space_3l;
}
.u-pb-4l{
  padding-bottom: $space_4l;
  @include mq(md){
    padding-bottom: $space_3l;
  }
}
.u-m-0auto{
  margin: 0 auto;
}
.u-mb-0{
  margin-bottom: 0;
}
.u-mb-s{
  margin-bottom: $space_s;
}
.u-mb-m{
  margin-bottom: $space_m;
}
.u-mb-l{
  margin-bottom: $space_l;
}
.u-mb-xl{
  margin-bottom: $space_xl;
}
.u-mb-xxl{
  margin-bottom: $space_xxl;
}
.u-mb-3l{
  margin-bottom: $space_3l;
}
.u-mb-4l{
  margin-bottom: $space_4l;
}