@charset "utf-8";
/*
* object/project/_concept.scss
*/
.p-concept{
  padding: $space-xxl 0;
  background-color: $color-bg1;
  &__info{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    flex-basis: 300px;
  }
  &__heading{
    font-size: $font-size_xl;
  }
  &__icon{
    margin: 0 auto;
    max-width: 130px;
  }
  &__text{
    text-align: left;
    font-size: $font-size_s;
    line-height: 2;
  }
}